{% extends "base.html" %}

{% block content %}
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="">Music Recommendation System</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="">Trending</a></li>
					<li><a href="">Users</a></li>
					<li><a href="">Songs</a></li>
				</ul>	
			</div>
		</div>
	</nav>
	
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="container_img" src="{{ url_for('static', filename='img/music_icon.png') }}">
				<div class="caption">
					<h4>Music Name</h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>	
			</div>			
		</div>
	</div>



</body>
{% endblock %}
